# ROS ws
build
devel
logs
.catkin_workspace
.catkin_tools
firmware/common/ros_lib

# ChibiOS
.dep

# vim tmp
*.swp

# QtCreator
*.user.*
*.user

# Idea
.idea

# Protobuf generated
CommMsgs.pb.h
CommMsgs.pb.c
CommMsgs.pb.cc

# Python
*~
*.pyc
*_tmp.py

