[submodule "firmware/common/ChibiOS"]
	path = firmware/common/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "firmware/common/ChibiOS-Contrib"]
	path = firmware/common/ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
[submodule "ros_ws/src/rosserial"]
	path = ros_ws/src/rosserial
	url = https://github.com/1r0b1n0/rosserial.git
[submodule "ros_ws/src/rosserial_qt"]
	path = ros_ws/src/rosserial_qt
	url = https://github.com/1r0b1n0/rosserial_qt.git
