# ROS ws
build
devel
logs
.catkin_workspace
.catkin_tools
firmware/common/ros_lib
!firmware/common/ros_lib/ros.h
!firmware/common/ros_lib/ChibiOSHardware.h


# ChibiOS
.dep

# vim tmp
*.swp

# QtCreator
CMakeLists.txt.user

# Protobuf generated
CommMsgs.pb.h
CommMsgs.pb.c
CommMsgs.pb.cc


