<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snd_robot">
    <xacro:include filename="$(find snd_description)/urdf/macros.xacro"/>
    <xacro:include filename="$(find snd_description)/urdf/robot_base.urdf.xacro"/>
    <xacro:robot_body/>


    <!-- Rplidar -->
    <xacro:include filename="$(find snd_description)/urdf/sensors/rplidara2.urdf.xacro"/>
    <xacro:sensor_rplidara2 parent="base_link">
        <origin xyz="0.085 -0.07 0.05" rpy="0 0 1.570796327"/>
    </xacro:sensor_rplidara2>

    <!-- Module arm -->
    <!--link name="arm">
        <visual>
            <origin xyz="-0.045 0 -0.006" rpy="0 0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://snd_description/meshes/arm.stl" scale="1 1 1"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 -0.05 0" rpy=" ${pi/2} 0 0"/>
            <geometry>
                <cylinder length="0.130" radius="0.0275"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 -0.05 0" rpy="${pi/2} 0 0"/>
            <mass value="0.005"/>
            <xacro:cylinder_inertia m="0.005" r="0.0275" h="0.130"/>
        </inertial>
    </link-->
    <!--joint name="arm_servo_joint" type="continuous"-->
    <!--joint name="arm_servo_joint" type="fixed">
        <parent link="base_link"/>
        <child link="arm"/>
        <origin xyz="0.025 0.15 0.05" rpy="0 0 ${pi/2}"/>
        <axis xyz="1 0 0"/>
    </joint-->
    <!--transmission name="arm_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="arm_servo_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="arm_actuator">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

</robot>

